* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* border: 4px solid cornflowerblue; */
  font-size: 25px;
  text-align: center;
  overflow: scroll;
}

#navbar h1 {
  font-size: 30px;
  color: #06b8e2;
  text-transform: capitalize;
  margin-top: 10px;
  padding: 10px 0 20px 0;
  border-bottom: #06b8e2 solid 2px;
}

#navbar a {
  text-decoration: none;
  color: black;
  padding: 10px 0;
  border-bottom: #06b8e2 solid 2px;
  text-align: left;
  padding-left: 20px;
  font-size: 22px;
  color: #06b8e2;
}

#main-doc {
  padding: 35px;
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  /* border: 4px solid darkorange; */
}

#main-doc header {
  font-size: 30px;
  margin: 20px 0;
}

#main-doc p {
  margin-left: 20px;
}

.step-with-icon {
  display: flex;
  flex-direction: row;
}

.step-with-icon h4 {
  padding-top: 3px;
}

.material-icons {
  margin-right: 6px;
  color: #00b5e3;
}

.button_functions_content {
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
}

#button_functions_content img {
  grid-row: 1 / 3;
}

#button_content_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-between;
  margin-top: 20px;
}

#button_content_list li {
  list-style: none;
}

#Voice_prompts li {
  list-style: none;
}

.main-section #fitting-content {
  display: flex;
  flex-direction: row;
}

#fitting-content p {
  margin: auto 0;
  text-align: start;
}

code {
  font-weight: 900;
}

p {
  margin: 10px 0;
}

span {
  color: #00b5e3;
  font-weight: bolder;
}

#arrow-up {
  visibility: hidden;
}

@media (max-width: 500px) {
  #main-doc {
    position: static;
    width: 100%;
  }
  #main-doc img {
    width: 100%;
    max-width: 100%;
    height: 70%;
  }
  .main-section #fitting-content {
    display: flex;
    flex-direction: column;
  }
  #navbar {
    position: static;
    width: 100%;
    height: 30%;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  #arrow-up {
    visibility: visible;
    position: fixed;
    bottom: 25px;
    right: 25px;
    opacity: 0.5;
    color: #00b5e3;
  }
}
